---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import lupa from "assets/lupa.png";

import { getLangFromUrl,useTranslation } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const faq = [
  {
    title: "faq.subtitle1",
    description:
      "faq.description1",
    image: lupa,
  },
  {
    title: "faq.subtitle2",
    description:
      "faq.description2",
    image: lupa,
  },
  {
    title: "faq.subtitle3",
    description:
      "faq.description3",
    image: lupa,
  },
  {
    title: "faq.subtitle4",
    description:
      "faq.description4",
    image: lupa,
  }
];
---

<div class="mt-20"> 
  <div class="mt-32 md:mt-32 flex justify-center items-center flex-col">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight max-w-full w-full text-center md:text-center">
      {t('faq.title')}
    </h2>
  </div>
  
  <div class="grid sm:grid-cols-2 md:grid-cols-2 gap-16 mt-10">
    {faq.map((item) => (
      <div class="flex flex-col gap-4 items-start">
        <div class="flex justify-between items-center w-full bg-gray-400 p-4 rounded-full shadow-md" style="background-color: #e1e1e1">
          <h3 class="font-semibold text-lg">{t(item.title as "faq.subtitle1")}</h3>
          <div class="w-8 h-8">
            <Picture
              src={item.image}
              alt={item.title}
              widths={[200, 200,200]}
              sizes="(max-width: 800px) 100vw, 32px"
              loading="eager"
              class="w-8 h-8"
            />
          </div>
        </div>
        <p class="text-slate-900 mt-2 leading-relaxed">{t(item.description as "faq.description1")}</p>
      </div>
    ))}
  </div>
</div>
